out/
!/src/main//out/
!/src/test//out/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!/src/main//bin/
!/src/test//bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.DS_Store
/MyGameMachine.iml
/.idea/
/out/
/.idea/
